body{
background-color: var(--seconde) !important;
overflow: hidden;
}
nav{
    background-color: var(--seconde) !important;
    color: var(--main-color);
}
.headbanner{
    height: 70rem;
    background-color: var(--main-color);
    text-align: center;
    position: relative;
    top: 5rem;
    overflow: hidden;
    box-shadow: inset 0px 0px 30px #00000082;
}

input[type=search]{
    padding: 6px 0;
    margin-bottom: 2rem;
    border-top: transparent;
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-size: 2rem;
    width: 60%;
    margin-top: 2.5rem;
}

input:focus{
    border-bottom: 3px solid black;
}

.main{
    background-color: rgb(152, 152, 152);
    height: 57rem;
   
    margin: 1% 2.5% 0%;
    overflow: hidden;
    overflow-y: auto;
}


/* TABLE */

table {
    border-collapse: collapse;
    border: 2px solid var(--main-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    overflow-y: auto;
    color: var(--seconde);
    overflow: hidden;
  }

  tbody{
    overflow: hidden;
    overflow-y: auto;
  }
  
th{
    text-align: center;
}
  th,
  td {
    border: 1px solid var(--main-color);
    padding: 8px 0;
    width: 20rem;
    font-size: .98rem;
  }
  thead{
    background-color: var(--blue);
    border: none;
    color: var(--main-color);
  }
  
  td:last-of-type {
    text-align: center;
  }

  tbody > tr{
    background-color: var(--main-color);
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: var(--light-blue);
  }
  




  .angry-grid {
    display: grid; 
    transform: translateY(2rem);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 10px;
    height: 120%;
    margin: 0 2%;
    
 }
   
 #item-0 {
 
    
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    
 }
 #item-1 {
 
    
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    
 }
 #item-3 {
 
    
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 2;
    grid-column-end: 5;
    
 }
 #item-4 {
 
    
    grid-row-start: 2;
    grid-column-start: 4;
 
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item-5 {
 
    
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-6 {
 
    
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-7 {
 
    
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 }

 .porshe{
  margin-top: 1rem;
  height: 14rem;
  width: 90%;
  background-size: cover;  margin: 2rem 0 0 2rem;
  background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
 }
 .porshe1{
    margin-top: 1rem;
  height: 14rem;
  width: 90%;  margin: 2rem 0 0 2rem;
  background-size: cover;
  background-position:  center bottom;
  background-image: url(../image/pexels-polina-chistyakova-14544821.jpg);
 }
 .porshe2{
    margin-top: 1rem;
  height: 14rem;
  width: 90%;  margin: 2rem 0 0 2rem;
  background-size: cover;
  background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
 }
 .angry-grid h3{
  text-align: start;
  margin: 0 0 0 2rem;
}
.angry-grid p{
  text-align: start;
  margin: 0 0 0 2rem;
}

.angry-grid input[type=button]{
  font-size: 8rem;
  padding: 4px 50px;
  transform: translateY(80%);
}

.angry-grid div{
  background-color: lightgray;
}

.angry-grid img{
  width: 25%;
  transform: translateY(90%);
}

.no{
  background-color: rgb(239, 237, 237) !important;
}

.custom-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.custom-confirm-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-group {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#confirm-yes {
  background-color: #4CAF50;
  color: white;
}

#confirm-no {
  background-color: #f44336;
  color: white;
}

.grey:hover, .rouge:hover {
 filter:  brightness(80%);
}
