body{
background-color: var(--seconde) !important;
overflow: hidden;
}
nav{
    background-color: var(--seconde) !important;
    color: var(--main-color);
}
.headbanner{
    height: 70rem;
    background-color: var(--main-color);
    text-align: center;
    position: relative;
    top: 5rem;
    overflow: hidden;
    box-shadow: inset 0px 0px 30px #00000082;
}

input[type=search]{
    padding: 6px 0;
    margin-bottom: 2rem;
    border-top: transparent;
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-size: 2rem;
    width: 60%;
    margin-top: 2.5rem;
}
.tittle{
  padding: 6px 0;
  margin-bottom: 2rem;
  border-top: transparent;
  border-right: none;
  border-left: none;
  background-color: transparent;
  font-size: 2rem;
  width: 60%;
  margin-top: 2.5rem;
  text-align: center;

}
.tittle::before{
 content: "";
 position: absolute;
 height: .3rem;
 width: 50%;
 top: 6rem;
 background-color: #383838;
}
input:focus{
    border-bottom: 3px solid black;
}

.main{
    background-color: rgb(152, 152, 152);
    height: 57rem;
   
    margin: 1% 2.5% 0%;
    overflow: hidden;
    overflow-y: auto;
}


/* TABLE */

table {
    border-collapse: collapse;
    border: 2px solid var(--main-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    overflow-y: auto;
    color: var(--seconde);
    overflow: hidden;
  }

  tbody{
    overflow: hidden;
    overflow-y: auto;
  }
  
th{
    text-align: center;
}
  th,
  td {
    border: 1px solid var(--main-color);
    padding: 8px 0;
    width: 20rem;
    font-size: .98rem;
  }
  thead{
    background-color: var(--blue);
    border: none;
    color: var(--main-color);
  }
  
  td:last-of-type {
    text-align: center;
  }

  tbody > tr{
    background-color: var(--main-color);
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: var(--light-blue);
  }
  



 .porshe{
  margin-top: 1rem;
  height: 14rem;
  width: 90%;
  background-size: cover;  margin: 2rem 0 0 2rem;
  background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
 }



.no{
  background-color: rgb(239, 237, 237) !important;
}

.custom-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.edit-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.custom-confirm-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-group {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#confirm-yes {
  background-color: #4CAF50;
  color: white;
}
#edit-yes {
  background-color: #4CAF50;
  color: white;
}


#confirm-no {
  background-color: #f44336;
  color: white;
}
#edit-no {
  background-color: #f44336;
  color: white;
}
.grey:hover, .rouge:hover {
 filter:  brightness(80%);
}

.btn-group input{
  margin: 1% 0%;
  padding: 6px 0;
 border-top: transparent;
    border-right: none;
    border-left: none;
    background-color: transparent;
   
    width: 60%;
}

.btn-group button{
  margin-top: 5%;
}

.cree{
padding: 0 4%;
  height: 100%;
  
}
.cree form{
  display: flex;
}

.cre{
display: flex;
}
.cree h3{
  display: flex;
  justify-content: start;
}
#titre{
  display: flex;
  justify-content: start;
  padding: 10px;
  width: 80rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}


input[type=file]{
  background-color: #4CAF50;
}
textarea{
  padding: 10px;
  margin-top: 1rem;
  width: 100rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  resize: none;
  max-height: 37rem;
  border-radius: 1rem;
}


.file-input-container {
  position: relative;
  width: 35%;
  margin-left: 3rem;
  

}



.file-input {
  width: 90%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.file-input-label {
  display: block;
  width: 90%;
  padding: 10px;
  line-height: 40px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.file-input-label:hover {
  background-color: #45a049;
}

.file-input:focus + .file-input-label,
.file-input:active + .file-input-label {
  background-color: #3e8e41;
}

.event{
  height: 10rem;
  width: 150%;
 margin-left: 3rem;
 background-color: #2b60a1;
 color: var(--main-color);
 border-radius: 0px 0px 5px 5px;
}
.image{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7282562683276436) 0%, rgba(0,0,0,0) 100%),url(../image/pexels-pixabay-220383.jpg);
  background-position: center;
  background-size: cover;
  height: 44rem;
  width: 150%;
  margin-left: 3rem;
  border-radius: 5px 5px 0px 0px;
}
.head{
  margin-top: 1rem;
}