.ok{
    background-color: var(--main-color);
    font-family: 'Open',sans-serif;
    text-align: center;
}

.ok h3{
    margin-top: 25%
}

h4{
    color: var(--seconde);
}

.porshe{
    margin-top: 1rem;
    height: 14rem;
    width: 90%;
    background-size: cover;  margin: 2rem 0 0 2rem;
    background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
   }
   .porshe1{
      margin-top: 1rem;
    height: 14rem;
    width: 90%;  margin: 2rem 0 0 2rem;
    background-size: cover;
    background-position:  center bottom;
    background-image: url(../image/pexels-polina-chistyakova-14544821.jpg);
   }
   .porshe2{
      margin-top: 1rem;
    height: 14rem;
    width: 90%;  margin: 2rem 0 0 2rem;
    background-size: cover;
    background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
   }
   .angry-grid h3{
    text-align: start;
    margin: 0 0 0 2rem;
  }
  .angry-grid p{
    text-align: start;
    margin: 0 0 0 2rem;
  }