.headbanner{
    height: 60rem;
    background-image: url(../image/athlete-feminine.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    top: 5rem;
    box-shadow: inset 0px 0px 30px #00000082;
}
.headbanner h1{
    padding-top: 28rem;
    letter-spacing: .4rem;
}
h1,h2{
    color: var(--main-color);
}

.main{
    text-align: center;
    height: 160rem;
    position: relative;
    top: 5rem;
}
.main h1{
    padding-top: 7rem;
}



.porshe{
    margin-top: 1rem;
    height: 24rem;
    width: 95%;
    background-size: cover;  margin: 2rem 0 0 2rem;
    background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
   }
   .porshe1{
      margin-top: 1rem;
    height: 24rem;
    width: 92%;  margin: 2rem 0 0 2rem;
    background-size: cover;
    background-position:  center bottom;
    background-image: url(../image/pexels-polina-chistyakova-14544821.jpg);
   }
   .porshe2{
      margin-top: 1rem;
    height: 24rem;
    width: 92%;  margin: 2rem 0 0 2rem;
    background-size: cover;
    background-image: url(../image/pexels-robert-hernandez-villalta-128457.jpg);
   }
   .angry-grid h3{
    text-align: start;
    margin: 0 0 0 2rem;
  }
  .angry-grid p{
    text-align: start;
    margin: 0 0 0 2rem;
  }

  
  .publication {
    display: grid; 
    transform: translateY(2rem);
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    
    gap: 10px;
    height: 50%;
    margin: 0 2%;
    
 }
   
 #item-0 {
 
    
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    
 }
 #item-1 {
 
    
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 }
 #item-3 {
 
    
    grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
 }

 .publication div{
    background-color: lightgray;
  }
  